<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div [routerLink]="[ '/home']" class="navbar-brand btn">Home</div>
            <div [routerLink]="[ '/products']" class="navbar-brand btn">Products</div>
            <div [routerLink]="[ '/about']" class="navbar-brand btn">About</div>
            <div [routerLink]="[ '/admin/user']" class="navbar-brand btn">Admin</div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
