<div class="panel panel-primary">
  <div class="panel-heading">Process Order</div>

  <div *ngIf="!sentOrder" class="panel-body">
    <form class="form-horizontal" (ngSubmit)="onSave()" [formGroup]="userForm">
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="firstNameId"
            >First Name</label
          >
          <div class="col-sm-10">
            <input
              class="form-control"
              id="firstNameId"
              type="text"
              placeholder="First Name (required)"
              formControlName="firstName"
              [ngClass]="{
                'has-error':
                  (userForm.get('firstName').touched ||
                    userForm.get('firstName').dirty) &&
                  !userForm.get('firstName').valid
              }"
            />
            <span
              class="help-block"
              *ngIf="
                (userForm.get('firstName').touched ||
                  userForm.get('firstName').dirty) &&
                userForm.get('firstName').errors
              "
            >
              <span *ngIf="userForm.get('firstName').hasError('required')">
                Please enter your first name.
              </span>
              <span *ngIf="userForm.get('firstName').hasError('minlength')">
                The first name must be longer than 3 characters.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="lastNameId"
            >Last Name</label
          >
          <div class="col-sm-10">
            <input
              class="form-control"
              id="lastNameId"
              type="text"
              placeholder="Last Name"
              formControlName="lastName"
              [ngClass]="{
                'has-error':
                  (userForm.get('lastName').touched ||
                    userForm.get('lastName').dirty) &&
                  !userForm.get('lastName').valid
              }"
            />
            <span
              class="help-block"
              *ngIf="
                (userForm.get('lastName').touched ||
                  userForm.get('lastName').dirty) &&
                userForm.get('lastName').errors
              "
            >
              <span *ngIf="userForm.get('lastName').hasError('error')">
                {{ userForm.get("lastName").errors.error }}
              </span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="emailId">Email</label>
          <div class="col-sm-10">
            <input
              class="form-control"
              id="emailId"
              type="text"
              placeholder="Email (required)"
              formControlName="email"
              [ngClass]="{
                'has-error':
                  (userForm.get('email').touched ||
                    userForm.get('email').dirty) &&
                  !userForm.get('email').valid
              }"
            />
            <span
              class="help-block"
              *ngIf="
                (userForm.get('email').touched ||
                  userForm.get('email').dirty) &&
                userForm.get('email').errors
              "
            >
              <span *ngIf="userForm.get('email').hasError('required')">
                Please enter your email.
              </span>
              <span *ngIf="userForm.get('email').hasError('pattern')">
                Please enter valid email.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-12 checkbox">
            <label>
              <input
                id="isAddressId"
                type="checkbox"
                formControlName="isAddress"
              />
              Add the address
            </label>
          </div>
        </div>

        <div *ngIf="userForm.get('isAddress').value">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="countryId"
              >Country</label
            >
            <div class="col-sm-10">
              <input
                class="form-control"
                id="countryId"
                type="text"
                placeholder="Country"
                formControlName="country"
                [ngClass]="{
                  'has-error':
                    (userForm.get('country').touched ||
                      userForm.get('country').dirty) &&
                    !userForm.get('country').valid
                }"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="cityId">City</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                id="cityId"
                type="text"
                placeholder="City"
                formControlName="city"
                [ngClass]="{
                  'has-error':
                    (userForm.get('city').touched ||
                      userForm.get('city').dirty) &&
                    !userForm.get('city').valid
                }"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="streetId">Street</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                id="streetId"
                type="text"
                placeholder="Street"
                formControlName="street"
                [ngClass]="{
                  'has-error':
                    (userForm.get('street').touched ||
                      userForm.get('street').dirty) &&
                    !userForm.get('street').valid
                }"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="zipId">Zip</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                id="zipId"
                type="text"
                placeholder="Zip"
                formControlName="zip"
                [ngClass]="{
                  'has-error':
                    (userForm.get('zip').touched ||
                      userForm.get('zip').dirty) &&
                    !userForm.get('zip').valid
                }"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12 text-right">
            <span>
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!userForm.valid"
              >
                Send
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div *ngIf="sentOrder" class="panel-body">
    <h3 class="text-center">
      Products were successfully sent to {{ userForm.get("firstName").value }}
      {{ userForm.get("lastName").value }}!
    </h3>
    <div class="col-sm-12 text-center" *ngFor="let product of products">
      <li class="list-group-item" style="padding: 4px 15px">
        <b
          >{{ product.count }} {{ product.name }} ({{
            product.price * product.count
          }}
          usd)</b
        >
      </li>
    </div>
  </div>
</div>
