<div class="row">
    <div class="col-sm-12 text-center">
        <p *ngIf="productsError$ | async as value">{{ value }}</p>
        <app-product-list [products]="products$ | async" (buyProduct)="onBuyProduct($event)"></app-product-list>
        <app-cart-list *ngIf="showBoughtProducts" [boughtProducts]="boughtProducts | orderProducts: order" (toggleProductsOrder)="onToggleProductsOrder($event)" [boughtProductsQuantity]="boughtProductsQuantity" [boughtProductsSum]="boughtProductsSum" (removeProduct)="onRemoveProduct($event)"></app-cart-list>
    </div>
</div>